.p-nav{
	padding-top: calc(0.5 * var(--gap));
	padding-bottom: calc(0.125 * var(--gap) + 1px);
	display: flex;
	position: sticky;
    background: rgba(255,255,255,0.95);
    width: 100%;
    z-index: 1;
    top: 0;
    backdrop-filter: blur(2px);
	&__link{
		color: $text;
		margin-left: calc(0.825 * var(--baseline));
		text-decoration: none;
	
		&:first-child{
			margin-right: auto;
			margin-left: 0;
		}
		&:hover{
			// border-bottom: dotted $text calc(0.125 * var(--gap));
		}
		&[aria-current="page"]{
			border-bottom: solid $text calc(0.0675 * var(--gap));
			font-weight: bold;

		}

	}
}