main{
	display: grid;
	 grid-template-columns: 1fr repeat(6, 1fr) 1fr;
  grid-template-rows: repeat(8, auto);
  background :var(--primary-brand) ;
   grid-template-areas: "head head head head head head head head"

                       ". about about about about about about . "
                       ". post1 post1 post1 post2 post2 post2 . "
                       ". post3 post3 post4 post4 post5 post5 . ";
}
header{
grid-area: head;
}