.p-resume{
	display: contents;
	display: grid;
	 grid-column-start: 2;
	 max-width:140ch;
	    @media (min-width: 1000px) {
	grid-template-columns: 3fr 1fr;
}	

	grid-column-gap: calc(2 * var(--baseline));
	&__skillset{
			    @media (min-width: 1000px) {
   grid-column-start: 2;
}	
		 
    grid-row-start: 1;
    // grid-row-end: -1;
	}
	&__job{
		 grid-column-start: 1;
		 margin-bottom: var(--baseline);
	}
	&__employer{
		margin-bottom: 0px;
	}
	&__role{
		font-size: 24px;
		// line-height:42px;
		margin-bottom: 0px;
		


	}
	&__duration{
		font-size: 14px;
		color: #777;
	}
	&__skills{
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
	&__list{
		display: inline-block;
		&-heading{
			font-weight: bold;
		}
	}
	&__icon{
		// font-size: 12px;
		margin-right: 4px;
	}
}