


.o-page{
	$self: &;
	max-width:2000px;
	margin: 0 auto;
	display: grid; 
	grid-template-columns: auto;
	overflow: visible;
  	grid-template-rows: auto ;
  	grid-gap: var(--gap);
  	
  	transform:translate3d(0,0,0);

    @media (min-width: 576px) {
     	grid-template-columns:  repeat(auto-fill, minmax(500px, 1fr));
    }
	&--post{
		grid-template-columns: auto;
		max-width:140ch;
		#{$self}__header{
			 // margin: calc(-2 * var(--baseline));
			 // margin-bottom: 0;
			 // padding-top: calc((3 * var(--baseline)) + var(--gap));
			}   
	}
	&__header{ 
		grid-row: 1 / 2;
		grid-column-start: 1;
		grid-column-end: -1;
		position: relative;
		overflow: hidden;    

	
		@media (min-width: 768px) {
			padding: calc(2 * var(--baseline));

		}
		&-content{
			text-shadow: 0px 3px 6px rgba(255, 255, 255, 0.4);
			margin-bottom: var(--gap);
		}
		canvas{
		  	position: absolute;
		  	top: 0;
		  	bottom: 0;
		  	left:  0;	
		  	right:  0;
		  	z-index: -1;
		}
	}
	&__body{
		background: #FFF;
	}
}

.o-post{
	$self: &;
	text-shadow: 0px 3px 6px rgba(255, 255, 255, 0.35);
	display:flex;
	flex-direction: column;
	justify-content: center;
	min-height: calc((100/3) * 1vh - (var(--gap) * 3));
	text-decoration: none;
	color: $text;
	overflow: hidden;
	position: relative;
	transition: all .3s;
	
	
	transform: perspective(200px) translateZ(0);
	&:hover,
 	&:focus{
 		transform: perspective(200px) translateZ(10px);
	  	
		
		z-index: 1;
	}
	&__header{
		z-index: 1;
		position: relative;
		transition: all .2s;
		
		
		transform: perspective(200px) translateZ(0);
		#{$self}:hover &{
			transform: perspective(200px) translateZ(5px);

		}
		&__backdrop{
			transition: all .3s;
			
			
			transform: perspective(200px) translate3d(0,0,0);
			#{$self}:hover &{
				// transform: ;
				&--1{
					transform: perspective(200px) translate3d(1px, -15px, 10px);
				}
				&--2{
					transform: perspective(200px) translate3d(1px, -10px, 5px);
				}
				
			}
		}
		// &:hover{
			
		// 	transform: perspective(100px) translateZ(2px);
		// }
	}
	footer{
		margin-top: auto;
	}

	p{
		font-weight:600;
	}

	canvas{
		position: absolute;
	  	top: 0;
	  	bottom: 0;
	  	left:  0;	
	  	right:  0;
	}
		  
  
	&__list{
		display: contents;
		#{$self}{
			justify-content: start;
		}
	}
}
// .page{
// 	$self: &;
// 	max-width:1200px;
// 	margin: 0 auto;
// 	grid-template-columns: auto;
// 	overflow: visible;
//   	grid-template-rows: auto ;
//   	grid-gap: var(--gap);

//   	@media (min-width: 576px) {
//   		grid-template-columns:  repeat(auto-fill, minmax(500px, 1fr));
// 	}

// 	&-content{
// 		max-width:1200px;
// 		display: grid;
// 		margin: 0 auto;
// 	 	grid-template-columns: auto;
// 	 	grid-template-rows: auto ;
// 	 	grid-gap: var(--gap);
// 	 	padding-top: var(--baseline);
// 	}
// 	&__header{
// 		position: relative;
// 		overflow: hidden;
// 		margin-left: calc(-1 * var(--baseline));
// 		margin-right: calc(-1 * var(--baseline));
// 		margin-top: calc(-3 * var(--baseline));

// 		&-content{
// 			padding: calc(4 * var(--gap));
// 			padding-bottom: calc( 4 * var(--baseline));
// 			padding-top: calc( 5 * var(--baseline));
// 			z-index: 1;
// 			position: relative;
// 		    max-width: 1200px;
// 	    	margin: 0 auto;
// 	        text-shadow: 0px 3px 6px rgba(255, 255, 255, 0.4);
// 		}

// 	    canvas{
// 		    position: absolute;
// 		  	top: 0;
// 		  	bottom: 0;
// 		  	left:  0;	
// 		  	right:  0;
// 		  	z-index: -1;
// 		}
// 	}
// }
